@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:  #0F0211;
}

.mains{
    /* width: 100vw; */
}

.nav__bar{
    background-color: #000;
    height: 12vh;
    width: 100%;
    z-index: 1;
    padding: 12px 45px 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav__list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

.nav__link{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.logo{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: 500;
}

.button__log{
    width: 130px;
    height: 35px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid white;
    cursor: pointer;
}
.log__button{
    padding-left: 100px;
}

.sub{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2.7rem;
}

.hero-text{
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}

.hero-description{
    color: #fff;
}

.img-hero{
    width: 450px;
}

.enroll__div{
    padding-top: 15px;
}

.enroll-btn{
    width: 185px;
    height: 55px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 400;
    background-color: #2e76f7;
    color: #FFF;
    cursor: pointer;
}

.enroll-btn:hover{
    background-color: transparent;
    border: 2px solid blue;
}

.playbtn{
    border-radius: 50%;
    border: none;
    width: 38px;
    height: 38px;
    background-color: #2e76f7;
    cursor: pointer;
    margin-left: 2rem;
    vertical-align: middle;
}

.playlink{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    vertical-align: middle;
    margin-left: .6rem;
}

.bx-play{
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.smallsmall{
    display:flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}
.small{
    width: 20px;
    height: 2px;
    background-color: #2e76f7;
    border-radius: 10px;
    border: none;
}
 .beef{
    background-color: #b4b4b4;
}

.award{
    display: flex;
    flex-wrap: wrap;
    padding: 200px 20px 0 86px;
    align-items: center;
    justify-content: space-around;
    
}

.award-icon{
text-align: center;
}

.greek{
    color: white;
    font-size: 27px;
    font-weight: 500;
}

.round{
    border-radius: 50px;
    width: 80px;
    height: 80px;
    background-color: rgb(36, 33, 33);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 140px ;
}

.bx-podcast{
    color: #2e76f7;
    font-size: 60px;
}
.bxs-graduation{
    color: #2e76f7;
    font-size: 60px;
}
.bxs-bullseye{
    color: #2e76f7;
    font-size: 60px;
}

.jeans{
    color: #b4b4b4b4;
    font-size: 18px;
    font-weight: 500;
}

.wrap1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5rem;
    flex-wrap: wrap;
}

.jenny{
    color: #b4b4b4b4;
    font-size: 18px;
    line-height: 2.2rem;
    font-weight: 500;
    list-style-type: style circle;
}

.greeks{
    font-size: 35px;
    font-weight: 500;
    color: white;
}

.tech{
    width: 400px;
}

.greeke{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: white;
    padding-top: 7rem;
}

.more{
    width: 180px;
    height: 55px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 400;
    background-color: #2e76f7;
    color: #FFF;
    cursor: pointer;
}

.mores{
    padding-top: .5rem;
}

.more:hover{
    background-color: transparent;
    border: 2px solid blue;
    transition: .5s ease-out;
}

.section2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 8rem;

}

.match{
    padding-top: 8rem;
}
.shrimp{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1.2rem;
}

.jennys{
    color: rgb(212, 212, 212);
    font-size: 18px;
    font-weight: 500;
    line-height: 2.2rem;
}

.rounds{
    border-radius: 50px;
    width: 25px;
    height: 25px;
    background-color: #2e76f7;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 0 10px 140px ; */
}

.bx-check{
    font-size: 28px;
    color: white;
}

.mouse{
    padding-top: 1.2rem;
}

.mould{
    width: 180px;
    height: 55px;
    border-radius: 5px;
    border: 2px solid blue;
    font-size: 15px;
    font-weight: 400;
    background-color: transparent;
    color: #FFF;
    cursor: pointer;
}

.mould:hover{
    background-color: #2e76f7;
    border: none;
    transition: 1s ease-in-out;
}

.long{
    width: 86%;
    height: 62px;
    background-color: #1f1d22;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border-radius: 5px;
}

.good{
    padding: 100px 0;
}

.man{
    margin: 0 0 20px 95px;
}

.content{
    padding-top: 0;
}

.big{
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 3px;
}

.life{
    background-color: #b4b4b4b4;
}


                /* Footer */
.footer{
    background-color: white;
    width: 100%;
    height: 400px;
    margin-top: 100px;
}

.logoblue{
    color: #2e76f7;
}

.pissed{
    color: rgb(80, 80, 80);
}

            
.footersec{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footdiv1{
    /* line-height: 1rem; */
    margin-top: 98px;
}

.footdiv2{
    margin-top: 70px;
}

.Hfoot{
    padding-bottom: 58px;
}

.footlist{
    list-style: none;
}

.list1::before{
    content: "\2022";
    color: #2e76f7;
    font-weight: 700;
    width: 1rem;
    line-height: 2rem;
    display: inline-block;
    /* margin-left: -1rem; */
}

.tint{
    color: #2e76f7;
}

.bx{
    font-size: 45px;
    color: #2e76f7;
}
@media screen  and (max-width: 1280px) {
    body{
        background-color: red;
    }

    .nav__list {
       display: none; 
    }
}