@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.mains{
    background-color: #0F0211;
    width: 100%;
    height: 100vh;
    
}

.mains__container{
    max-width: 1440px;
    width: 100%;
    height: 100%;
    
}
.nav__bar{
    background-color: #000;
    height: 10vh;
    width: 100vw;
    z-index: 1;
    padding: 10px 0px 0 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* .nav__con{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.nav__list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    /* font-size: 18px;
    font-weight: 400; */
}

.nav__link{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.logo{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: 500;
}

.button__log{
    width: 130px;
    height: 35px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid white;
    cursor: pointer;
}

.main__section{
    width: 100%;
    padding: 130px 0 0 185px;
}

.sub{
    width: 500px;
}

.hero-text{
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}

.hero-description{
    color: #fff;
    padding-top: 10px;
}

.img-hero{
    position: absolute;
    top: 125px;
    right: 8.9rem;
    width: 450px;
}

.enroll__div{
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.enroll-btn{
    width: 180px;
    height: 55px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 400;
    background-color: #2e76f7;
    color: #FFF;
    cursor: pointer;
}

.playbtn{
    border-radius: 50%;
    border: none;
    width: 38px;
    height: 38px;
    background-color: #2e76f7;
    cursor: pointer;
}

.playlink{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.bx-play{
    font-size: 30px;
    padding: 5px;
    color: #fff;
}

.smallsmall{
    display:flex;
    gap: .5rem;
    padding: 100px 0 0 550px;
}
.small{
    width: 20px;
    height: 2px;
    background-color: #2e76f7;
    border-radius: 10px;
    border: none;
}
 .beef{
    background-color: #b4b4b4;
}